body {
  padding: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  color: rgb(112, 11, 104);
  font-weight: bold;
}

h2,
h3 {
  left: 0px;
  padding: 0 30px;
  padding-top: 5px;
  font-size: 20px;
}

h3 {
  padding-bottom: 5px;
}

h4 {
  font-size: 60px;
  font-weight: bold;
}

li {
  list-style: none;
}

.container {
  padding: 30px 30px;
}

.card {
  border: dotted;
  background-color: rgb(192, 230, 230, 0.3);
  border-width: 10px 4px;
  border-radius: 20px 40px;
  padding: 50px 20px;
  border-color: rgb(112, 11, 104);
  box-shadow: 15px 15px 20px rgba(178, 176, 184, 0.6);
}

.location {
  text-align: center;
  margin: 0 auto;
  padding: 20px 20px;
}

.temperature {
  font-size: 50px;
  line-height: 1;
  font-weight: bold;
}

.weather-temperature {
  float: right;
  padding-top: 30px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
  
  }

.icon {
  margin: 0px 10px 20px;
  bottom: 25px;
  position: relative;
}


.weather-temperature .units {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  top: -1px;
}

.description {
  padding-bottom: 20px;
}

.description::first-letter {
  text-transform: capitalize;
}

.weather-detail {
  font-size: 15px;
  padding-top: 30px;
  float: left;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #2c0202;
}

.weather-forecast-date {
  font-size: 25px;
  opacity: 2;
  color: #300331;
  font-weight: bold;
}
.weather-forecast-temp-max {
  opacity: 0.9;
}
.weather-forecast-temp-min {
  opacity: 0.5;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

#overview {
  text-align: center;
}

#lookUp {
  background-color: rgb(33, 228, 241);
}

#current-location-button {
  background-color: rgb(213, 181, 214);
}
